    <header class="header">
      <nav class="navbar navbar-expand-lg">
        <div class="search-area">
          <div class="search-area-inner d-flex align-items-center justify-content-center">
            <div class="close-btn"><i class="icon-close"></i></div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-8">
                <form action="{% url 'search' %}">
                  <div class="form-group">
                    <input type="search" name="q" id="search" placeholder="What are you looking for?">
                    <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">

          <div class="navbar-header d-flex align-items-center justify-content-between" id=top>
          <a href="/" class="navbar-brand">Unravelling Destination</a>
           <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
          </div>
          <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              {% url 'home' as home %}
              {% url 'about' as about %}
              {% url 'post-list' as blog %}
              {% url 'contact' as contact %}
              {% url 'post-create' as create %}

              <li {% if request.path == home %}class="nav-item active"{% endif %}><a href="/" class="nav-link active">Home</a>
              </li>
              <li {% if request.path == about %}class="nav-item active"{% endif %}><a href="/about" class="nav-link">About</a>
              </li>
              <li {% if request.path == blog %}class="nav-item active"{% endif %}><a href="/blog" class="nav-link">Blog</a>
              </li>
              <li {% if request.path == contact %}class="nav-item active"{% endif %}><a href="{%url 'contact'%}" class="nav-link ">Contact</a>
              </li>
              {% if request.user.is_staff %}
              <li {% if request.path == create %}class="nav-item active"{% endif %}><a href="{% url 'post-create' %}" class="nav-link ">Create</a>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                </a>
                {% if request.user.is_authenticated %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'account_logout' %}">
                    <i class="fa fa-sign-out primary" aria-hidden="true"></i> Logout</a>
                  <div class="dropdown-divider"></div>
                </div>
                {% else %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'account_login'%}"><i class="fa fa-user" aria-hidden="true"></i> Sign In</a>
                  <a class="dropdown-item" href="{% url 'account_signup' %}">
                    <i class="fa fa-sign-out primary" aria-hidden="true"></i> Sign Up</a>
                  <div class="dropdown-divider"></div>
                </div>
                {% endif %}
              </li>
            </ul>
            <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
            {% comment %} <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul> {% endcomment %}
          </div>
        </div>
      </nav>
    </header>