{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <br>
    <div class="card card shadow ">
        <section
            style="background: url({% static 'a_images/forest.jpg' %}); background-size: cover; background-position: center center"
            class="hero">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h1>East Sikkim</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <p class='text-big'>East Sikkim is one of the four administrative districts of the Indian state of Sikkim.
                Geographically, East Sikkim
                occupies the south-east corner of the state. The capital of East Sikkim is Gangtok, which is also the
                state capital.
                It
                is the hub of all administrative activity in the state.</p>
            <!--content1-->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img class="img-thumbnail" height="320" src="{% static 'a_images/3.JPG'%}" alt="img..">
                    </div>
                    <div class="col-sm">
                        <p class='text-big'>East Sikkim is one of the four administrative districts of the Indian state
                            of Sikkim.
                            Geographically, East Sikkim
                            occupies the south-east corner of the state. The capital of East Sikkim is Gangtok, which is
                            also the state capital.
                            It
                            is the hub of all administrative activity in the state.</p>
                    </div>
                </div>
            </div>
            <p class='text-big'>East Sikkim is one of the four administrative districts of the Indian state of Sikkim.
                Geographically, East Sikkim
                occupies the south-east corner of the state. The capital of East Sikkim is Gangtok, which is also the
                state capital.
                It
                is the hub of all administrative activity in the state.</p>
            <!--content2-->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p class='text-big'>East Sikkim is one of the four administrative districts of the Indian state
                            of Sikkim.
                            Geographically, East Sikkim
                            occupies the south-east corner of the state. The capital of East Sikkim is Gangtok, which is
                            also the state capital.
                            It
                            is the hub of all administrative activity in the state.</p>
                    </div>
                    <div class="col-sm">
                        <img class="img-thumbnail" height="320" src="{% static 'a_images/4.JPG'%}" alt="img..">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
</div>
{% endblock %}