{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <br>
    <div class="card card shadow ">
        <section
            style="background: url({% static 'a_images/forest.jpg' %}); background-size: cover; background-position: center center"
            class="hero">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h1>North Sikkim</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <p class='text-big'>North Sikkim is a district of the Indian state of Sikkim. Its district headquarters is
                Mangan. It is the seventh least
                populous district in the country. As of 2013, C P Dhakal is the district Collector of the district.</p>
            <!--content1-->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img height="320" src="{% static 'a_images/7.JPG'%}" alt="img..">
                    </div>
                    <div class="col-sm">
                        <p class='text-big'>North Sikkim is a district of the Indian state of Sikkim. Its district
                            headquarters is Mangan. It is the seventh least
                            populous district in the country. As of 2013, C P Dhakal is the district Collector of the
                            district..</p>
                    </div>
                </div>
            </div>
            <p class='text-big'>North Sikkim is a district of the Indian state of Sikkim. Its district headquarters is
                Mangan. It is the seventh least
                populous district in the country. As of 2013, C P Dhakal is the district Collector of the district.</p>
            <!--content2-->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p class='text-big'>North Sikkim is a district of the Indian state of Sikkim. Its district
                            headquarters is Mangan. It is the seventh least
                            populous district in the country. As of 2013, C P Dhakal is the district Collector of the
                            district.</p>
                    </div>
                    <div class="col-sm">
                        <img height="320" src="{% static 'a_images/8.JPG'%}" alt="img..">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
</div>
{% endblock %}