{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <br>
    <div class="card card shadow ">
        <section
            style="background: url({% static 'a_images/forest.jpg' %}); background-size: cover; background-position: center center"
            class="hero">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h1>South Sikkim</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <p class='text-big'>South Sikkim lies at an altitude of 400 to 2000 metres and has a temperate climate for
                most of the year. Major urban
                centres include Namchi, Ravangla, Jorethang and Melli.</p>
            <!--content1-->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img height="320" src="{% static 'a_images/1.JPG'%}" alt="img..">
                    </div>
                    <div class="col-sm">
                        <p class='text-big'>South Sikkim lies at an altitude of 400 to 2000 metres and has a temperate
                            climate for most of the year. Major urban
                            centres include Namchi, Ravangla, Jorethang and Melli.South Sikkim lies at an altitude of
                            400 to 2000 metres and has a temperate climate for most of the year. Major urban
                            centres include Namchi, Ravangla, Jorethang and Melli.</p>
                    </div>
                </div>
            </div>
            <p class='text-big'>South Sikkim lies at an altitude of 400 to 2000 metres and has a temperate climate for
                most of the year. Major urban
                centres include Namchi, Ravangla, Jorethang and Melli.</p>
            <!--content2-->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p class='text-big'>South Sikkim lies at an altitude of 400 to 2000 metres and has a temperate
                            climate for most of the year. Major urban
                            centres include Namchi, Ravangla, Jorethang and Melli.South Sikkim lies at an altitude of
                            400 to 2000 metres and has a temperate climate for most of the year. Major urban
                            centres include Namchi, Ravangla, Jorethang and Melli.</p>
                    </div>
                    <div class="col-sm">
                        <img height="320" src="{% static 'a_images/2.JPG'%}" alt="img..">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
{% endblock %}