{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <br>
    <div class="card card ">
        <section
            style="background: url({% static 'a_images/forest.jpg' %}); background-size: cover; background-position: center center"
            class="hero">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h1>West Sikkim</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <p class='text-big'>West Sikkim is a district of the Indian state of Sikkim. Its capital is Geyzing, also
                known as Gyalshing. The district
                is a favourite with trekkers due to the high elevations. Other important towns include Pelling and
                Yuksom. Local people
                also call as Pallo- Sikkim and Sano- Sikkim as commonly.</p>
            <!--content1-->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img height="320" src="{% static 'a_images/6.JPG'%}" alt="img..">
                    </div>
                    <div class="col-sm">
                        <p class='text-big'>West Sikkim is a district of the Indian state of Sikkim. Its capital is
                            Geyzing, also known as Gyalshing. The district
                            is a favourite with trekkers due to the high elevations. Other important towns include
                            Pelling and Yuksom. Local people
                            also call as Pallo- Sikkim and Sano- Sikkim as commonly</p>
                    </div>
                </div>
            </div>
            <p class='text-big'>West Sikkim is a district of the Indian state of Sikkim. Its capital is Geyzing, also
                known as Gyalshing. The district
                is a favourite with trekkers due to the high elevations. Other important towns include Pelling and
                Yuksom. Local people
                also call as Pallo- Sikkim and Sano- Sikkim as commonly</p>
            <!--content2-->
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p class='text-big'>West Sikkim is a district of the Indian state of Sikkim. Its capital is
                            Geyzing, also known as Gyalshing. The district
                            is a favourite with trekkers due to the high elevations. Other important towns include
                            Pelling and Yuksom. Local people
                            also call as Pallo- Sikkim and Sano- Sikkim as commonly
                    </div>
                    <div class="col-sm">
                        <img height="320" src="{% static 'a_images/7.JPG'%}" alt="img..">
                    </div>
                </div>
            </div>

            <br>
        </div>
    </div>
</div>
<br>



</div>
{% endblock %}