{% extends 'base.html' %}
{% block content %}
<div class="container">

      <div class="card card-signin my-5">
        <div class="row">
          <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div style="width: 100%; text-align: center; padding: 50px 0 5px"><strong><span class="h5">Unravelling Destination </span></strong></div>

<h1><span class="h5">PRIVACY POLICY</span></h1>

     <strong>
         <span><span class="h5">Last Revised: 27-11-2019  </span><br><span class="h5 primary"></span></span>
     </strong>
    <p></p><p></p><div style="font-family: Arial, Helvetica, sans-serif;">
Unravelling Destination cares about your privacy.  For this reason, we collect and use personal data only as it might be needed for us to deliver to you our world-class products, services, websites and mobile applications (collectively, our “Services”). Your personal data includes information such as:  
<p></p>
<ul>
<li>Name</li>
<li>Address</li>
<li>Telephone number</li>
<li>Email address</li>
<li>Other data collected that could directly or indirectly identify you.</li>
</ul>
<p>Our Privacy Policy is intended to describe to you how and what data we collect, and how and why we use your personal data. It also describes options we provide for you to access, update or otherwise take control of your personal data that we process.  
</p>
<p>If at any time you have questions about our practices or any of your rights described below, you may reach our Data Protection Officer (“DPO”) and our dedicated team that supports this office by contacting us at pakyongayub@gmail.com.  This inbox is actively monitored and managed so that we can deliver an experience that you can confidently trust.  
</p>
     <strong>
         <span><span class="h2"><strong>What information do we collect?</strong></span></span>
     </strong>
    <p></p><p>We collect information so that we can provide the best possible experience when you utilize our Services.  Much of what you likely consider personal data is collected directly from you when you:</p><ol><p></p>
<p></p><li>create an account 
</li>
<li>complete contact forms or request newsletters or other information from us (ex: email); or
</li></p>
    <p><strong>Account related information</strong> is collected in association with your use of our Services, such as give feedback to the post by giving a comment.</p>
    <p><strong>Cookies and similar technologies</strong> on our websites and our mobile applications allow us to track your browsing behavior, links clicked,  your device type, and to collect various data, including analytics, about how you use and interact with our Services. This allows us to provide you with more relevant posts. </p>
    <strong>
         <span><span class="h2"><strong>How we utilize information.</strong></span></span>
     </strong>
    <p>We strongly believe in both minimizing the data we collect and limiting its use and purpose to only that (1) for which we have been given permission, (2) as necessary to deliver the Services or interact with, or (3) as we might be required or permitted for legal compliance or other lawful purposes. These uses include:</p>
    <p></p><p><strong>Delivering, improving, updating and enhancing the Services we provide to you.</strong>  We collect various information relating to your purchase, use and/or interactions with our Services. We utilize this information to:</p><ul><p></p>
<p></p><li>Improve and optimize the operation and performance of our Services (again, including our websites and mobile applications)
</li><li>Diagnose problems with and identify any security risks, errors, or needed enhancements to the Services
</li><li>Detect and prevent fraud and abuse of our Services and systems
</li><li>Collecting aggregate statistics about use of the Services
</li><li>Understand and analyze how you use our Services and what products and services are most relevant to you.  </li></ul>  
<p></p>
<p>Often, much of the data collected is aggregated or statistical data about how individuals use our Services, and is not linked to any personal data, but to the extent it is itself personal data, or is linked or linkable to personal data, we treat it accordingly. </p>   
    <p><strong>Targeted advertisements.</strong>Targeted ads or interest-based offers may be presented to you based on your activities on our webpages, and other websites, and based on the products you currently own. These offers will display as varying product banners presented to you while browsing. We also partner with third parties to manage our advertising on our webpages and other websites.</p>
    <p><strong>Third-party websites.</strong>  Our website and our mobile applications contain links to third-party websites. We are not responsible for the privacy practices or the content of third-party sites.  Please read the privacy policy of any website you visit.</p>
          </div>
        </div>
      </div>
</div>
  </div>
    {% endblock %}